body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #24292e;
}

span.dropdown-caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	content: "";
	border-top-style: solid;
	border-top-width: 4px;
	border-right: 4px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 4px solid transparent;
}

.octicon {
	vertical-align: text-bottom;
}
